@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700');

:root{
    --color-darker: #39c;
    --color-dark: #a9cb5e;
    --color-light: #e6f1cf;
    --color-lighter: #f7faf0;
    --color-text: #333;
}

body[data-theme="red"]{
    --color-darker: #851616;
    --color-dark: #d00;
    --color-light: #ffd1d1;
    --color-lighter: #ffe7e7;
    --color-text: #333;
}

body[data-theme="blue"]{
    --color-darker: #253f86;
    --color-dark: #168bcf;
    --color-light: #aed7f7;
    --color-lighter: #d2e5f3;
    --color-text: #333;
    }

    body[data-theme="orange"]{
        --color-darker: #744729;
        --color-dark: #cc8336;
        --color-light: #e9c09b;
        --color-lighter: #f8dec6;
        --color-text: #333;
        }

        body[data-theme="black"]{
            --color-darker: #2b2724;
            --color-dark: #444;
            --color-light: #aaa;
            --color-lighter: #eee;
            --color-text: #333;
            }

            [onclick] {
                cursor: pointer;
            }

.mt30 {
    
    margin-top: 30px !important;
}

.clearfix {
    clear: both;
}


.broken-image-checker img:before, .broken-image-checker img:after {
    height: 100%;
    vertical-align: middle;
    min-height: 158px;
    margin-top: -2vh;
    padding-top: 30px;
}

.broken-image-checker img:before {
    content: "";
}

.broken-image-checker img:after {
    font-size: 44px;
    padding-top: 0;
    border: 0;
    content: "\f030";
    height: 100%;
    margin-top:50px;
}

.broken-image-checker [data-view="grid"] .__img~.__img {
    display: none;
}

.__img img {
    position: static;
}

.__img {
    position: relative;
}


.breadcrumb {white-space: nowrap;overflow: auto;float: right;width: 100%;}


.fade-corner{ position: relative; }
.fade-corner:after,
.fade-corner:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 32px;
    top:0;
    z-index: 10;
}

.dib {
    display: inline-block;
}

.selected-values {
    margin-left: 15px;
}

.icon-shared {
    width: 60px;
    display: inline-block;
    height: 60px; 
}

body .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: transparent;
}

[aria-expanded="true"] .selected-values {
    opacity: 0;
}

.fade-corner--right:after {
    box-shadow: -30px 0px 30px 0px #eee inset;
    right: 0;
}

.fade-corner--left:before {
    box-shadow: 30px 0px 30px 0px #eee inset;
    left: 0;
}


.loaderized {
    animation: loaderized-rotation 0.5s infinite linear;
    border-bottom: 3px solid #d8d8d8;
    border-left: 3px solid #d8d8d8;
    border-radius: 100%;
    border-right: 3px solid #d8d8d8;
    border-top: 3px solid #008fb4;
    height: 60px;
    left: 50%;
    margin-left: -33px;
    margin-top: -33px;
    position: absolute;
    top: 50%;
    width: 60px;
  }
  
  
  @keyframes loaderized-rotation {
    0% { transform: rotate(0deg); } to { transform: rotate(359deg); }
  }

  .panel-default .panel-heading,
.panel-pink .panel-heading {
    border-left: 5px solid #f86cb5 !important;
    border-right: 5px solid #f86cb5 !important;
}

.panel-green .panel-heading {
    border-left: 5px solid #b6da67 !important;
    border-right: 5px solid #b6da67 !important;
}

.panel-orange .panel-heading {
    border-left: 5px solid #f7ca5f !important;
    border-right: 5px solid #f7ca5f !important;
}




.col-sm-2_5 {
    width: 20.8%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}


.col-sm-3_5 {
    width: 29.16666%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
body .input-group .select2-selection {
    border: 0;
}

table .lmt {
    display: block;
    white-space: nowrap;
    width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.table-truncate td.lmt {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
}

.table-truncate0 {
     table-layout: fixed;
}



.checkylbl.sm {
    width: 50px;
    height: 24px;
}

.checkylbl.sm label {
    height: 22px;
    width: 22px;
}


.checkylbl {
    background-color: #d00;
    width: 60px;
}

.checkylbl {
    position: relative;
}

.checkylbl:after {
    content: "✖";
    position: absolute;
    right: 8px;
    color: #fff;
    top: 1px;
}

.is-active .checkylbl:after {
    content: "✓";
    right: auto;
    left: 8px;
}
.checkylbl.sm:after { line-height: 24px;}
.checkylbl:after { line-height: 30px; }


.checkylbl.sm+label{ line-height: 22px; }
.checkylbl+label { line-height: 28px; }

.dt .checkylbl+label {
    margin-left: 8px;
    float: left;
    margin-bottom: 0;
    margin-top: 2px;
}



.dt {
    display: table;
}

body .dt>* {
    display: table-cell;
    height:30px;
    float:left;
}


.treeviewized ul {
    position: relative;
}    


.treeviewized li.is-open {
    position: absolute;
    top: 0;
    z-index: 99;
    width: 100%; 
    overflow: hidden;
}

.treeviewized li.parent_li.is-open>ul, .treeviewized li.parent_li>span.is-open+ul {
    min-height: 350px;
    max-height: 380px;
}

ul#tree1>li>span input {
    display: none;
}


.treeviewized li.is-open>span {
    background-color: var(--color-light);
    z-index: 777;
    position: absolute;
    top: 0;
    width: 100%;
}

.treeviewized li.is-open >span:before {
    content: "< Back";
    border-radius: 2px;
    padding: 0 10px;
    float: right;
    background-color: var(--color-dark);
    border: 1px solid var(--color-dark);
    color:#fff;
}




body .panel-select-framework .panel-default.is-active {
    position: absolute;
    height: 350px;
}

body .panel-select-framework .panel-default.is-active .collapse {
    max-height: auto;
}

body .panel-select-framework .panel-collapse.in {
    max-height: -webkit-fill-available;
}

#accordion[data-expend='open'] .panel.is-active .panel-heading a[data-toggle=collapse]:before { content: "< BACK"; }




#accordion[data-expend='open'] .panel {
    display: none;
}

#accordion[data-expend='open'] .panel.is-active {
    display: block;
}

div#frameworks-body .panel-select-framework {
    height: 400px;
    overflow:auto;
}









li.menu-title.bg-cvr {
    background-image: none !important;
    background-color: var(--color-dark);
}




body { font-family:"Poppins"; }

.navbar-header a img {
    width:  50%;
}


.nav.navbar-nav.navbar-main {
    float:  right;
    margin-top:  25px;
}
.navbar {
    position: relative;
 
}
.nav.navbar-nav.navbar-main li a {
    padding: 5px 15px;
	background:#04a2b3;
}
.nav.navbar-nav.navbar-main ul.dropdown-menu li a {
    background:  transparent !important;
}
.navbar-default .navbar-nav > .open > a:focus {
	background: var(--color-dark);
}
.wrapper-page {
    margin: 2.5% auto;
}


.login-page {
    background-color: #666;
}


.login-page .panel {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 10px 30px 0px #748e7b;
}

.login-page .input-group-addon .fa {
    color: var(--color-dark);
    font-size: 18px;
}

.login-page .input-group-addon {
    background-color: transparent;
    border-color: transparent;
    min-width: 40px;
}


.login-page .form-group .form-control {
    background-color: transparent;
    color: #666;
    border-color: transparent;
    padding-left: 0;
}

.login-page .form-group.bdr {
    border: 1px solid #ccc;
}

.login-page .form-group .btn-primary {
    background-color: #48aed7;
    color: #fff;
}


.login-page .login-box {
    
    margin: 0 auto;
    padding: 15px;
    margin-top: 24vh;
}

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
    margin-left: 0;
}

.login-box .logo {
    display: block;
    margin: 0 auto;
    float: none;
    text-align: center;
    margin-bottom: 20px;
}


.cr-area {
    margin-top: 16vh;
    float: left;
    width: 100%;
}

.cr-area ul li a {
    margin: 0 10px;
    display: inline-block;
}

.cr-area ul li a {
    color: #333;
}

.cr-area ul {
    padding-left: 0;
}

.listdvr ul li {
    display: inline-block;
}

body .listdvr ul > li:not(:last-child) {
    border-color:#333;
}


.navbar-box li a i.ion-log-out {
    position: relative;
    top: 3px;
    left: -2px;
}

.topbar .container {
    width: 100%;
	padding:0;
}

.nav.navbar-box>li {
    height: 46px;
    /* height: auto; */
}

.navbar-box li a {
    line-height: 46px;
    width: 45px;
    text-align: center;
    display: block;
}

.navbar-box li a i {
    display: inline-block;
    font-size: 24px;
}


.bg-green {
    background-color: #add458;
}


.bg-blue {
    background-color: #48aed7;
}

.topbar .navbar-default {
    background-color: #fff;
    box-shadow: 0 0 20px 0px #ccc;
    margin-bottom: 0;
}


.button-menu-mobile {
    background-color: transparent;
}

.button-menu-mobile i.ion-navicon {
    color: #333;
    font-size: 38px;
}

body .page-header-title .page-title {
    color: #333;
}

body .page-header-title {
    background-color: transparent;
    box-shadow: none;
    position: relative;
    padding-bottom: 0;
    float: left;
    width: 100%;
}

body .page-header-title:after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: #f86cb5;
}

 body .panel {
    background-color: transparent;
    box-shadow: none;
}

body
.table > thead > tr > th {
    background-color: var(--color-dark);
}
body

.table-hover > tbody > tr:hover {
    background-color:var(--color-light);
} 

.page-header-title.mb0 {
    margin-bottom: 20px;
    height: auto;
    padding-bottom: 0;
}


/* .select2-container {width: 100% !important;} */

.input-group .select2-container {
    max-width: 90% !important;
}
body .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 34px;
}

.w100 {
    width: 100%;
}

body .logo img {
    height: auto;
}

.side-menu li.menu-title.bg-cvr {
    height: 240px;
    padding-top: 30px !important;
}

span.profile__logo img {
    max-width: 100%;
    max-height: 100%;
}

span.profile__logo {
    text-align: center;
    display: block;
    height: 140px;
}

.profile__label {
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
    display: block;
    border: 1px solid #fff;
    padding: 5px;
}

body .button-menu-mobile{ margin-top:2px; }

body .topbar .topbar-left {
    height: auto;
}

.topbar .navbar-default {
    min-height: 20px;
}

body .topbar .topbar-left {
    height: 46px;
}

.logo, .logo-sm {
    line-height: normal;
    height: 30px;
    padding: 4px;
    width: 100%;
}

body .logo img {
    height: 42px;
    width: auto;
    padding-top: 4px;
}
body .side-menu.left {
    top: 46px;
}

body .logo-sm img {
    height: 36px;
}

body .content-page > .content {
    margin-top: 50px;
}

body .button-menu-mobile {
    margin-left: -34px;
    outline:none;
}

#wrapper.enlarged .button-menu-mobile {
    margin-left: 15px;
}


body .icon.input-group-addon {
    width: 32px !important;
    padding: 0;
    background-color: transparent;
    border: 0;
}


.select2-container--default .select2-results>.select2-results__options {
    background-color: #fff;
    border: 1px solid #ccc;
    min-height: 28px;
}

.select2-container--default .select2-results>.select2-results__options li {
    display: inline-block;
    margin: 2px 2px;
    border: 1px solid #ccc;
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 4px;
}

.select2-results__option[aria-selected="true"]{ display:none !important; }


.panel-color .panel-title {
    color: #666;
}


body 
.panel-info > .panel-heading {
   background-color: #f7f7f7;
   padding: 12px;
}

body 
.panel-group .panel .panel-heading a[data-toggle=collapse]:before {
    border: 1px solid #666;
    text-align: center;
    line-height: 16px;
    border-radius: 50%;
    font-size: 8px;
    width: 18px;
    height: 18px;
}


body .input-group {
    border: 1px solid #ccc;
    border-radius: 0px;
}

body .select2-container--default  .select2-selection--multiple {
    border: 0 !important;
}

body .btn-primary {
    background-color: var(--color-darker) !important;
    border-color:var(--color-darker) !important;
}

body .btn-default,
body .btn-default:hover,
body .btn-default:focus {
    background-color: var(--color-dark) !important;
    color: #fff !important;
}

body .btn.btn-primary {
    border-radius: 0;
}

body .select2-dropdown {
    border: 0;
}


.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fff;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color:var(--color-lighter);
}


form#form-filter {
    /* margin-left: -15px; */
    /* margin-right: -15px; */
    position: relative;
    padding: 10px 0;
    float: left;
    width: 100%;
}



body .panel .panel-body {
    padding: 0px;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li:hover span {
    color: #d00;
}


.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border:1px solid var(--color-lighter);
}

body .pagination > li > a {
    background-color: #fff !important;
    color: #666 !important;
    border: 1px solid var(--color-light) !important;
}


.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: var(--color-light) !important;
    border-color: var(--color-light) !important;
}

.pagination > li > span {
    background-color: #fff !important;
    color: #666 !important;
    border-color: var(--color-light) !important;
}



tbody {color: #333;}

table td.has-icon {
    text-align: center;
}

.checkylbl, label {
    font-weight: 500;
    font-size: 15px;
}

.checker-area.is-active .fnc__checkbox:before {
    background-color: #109bd4;
    color: #fff;
    content: "\f00c";
    font-family: FontAwesome;
    text-align: center;
    line-height: 22px;
}

.checkylbl {
    display: inline-block;
}

.form-group.hidden-checkbox {
    display: table;
}

.form-group.hidden-checkbox>* {
    display: table-cell;
}




body .select2-container--default .select2-selection--single {
    height: 34px;
    position: relative;
    border-radius: 0;
    border-color: #ccc;
    
}

body .form-control,
body .form-control:focus {
    height: auto;
    border: 0;
    border-radius: 0;
    background-color: #fff;
    color: #000;
    padding: 4px;
}

body .form-group .input-group-addon {
    border-radius: 0;
    border: 0;
}

.form-group.col-sm-3.checker-area.dt {
    padding-top: 2px;
}

.table td.has-btn:last-child {
    width: 80px;
}


body.modal-open {
    padding-right: 0px !important;
}

.evibox__inr {
    position: relative;
}

.evibox__cont {
    position: absolute;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    font-size: 0.8em;
    padding: 4px;
    width: 100%;
    z-index: 20;
}

.evibox__cont big a {
    display: block;
    color: #fff;
    font-size: 14px;
    width: 65%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 500;
}

.evibox__inr
.actions {
    float: right;
    width: 56px; 
}

.yellowbar {
    background-color:rgba(255, 255, 0, 0.7);
    color: #000;
    padding: 8px;
    margin: 4px -4px -4px -4px;
    display: block;
    text-align: center;
}

.evibox__inr .no-image {
    height: 94px;
    margin-top: 46px;
    background: #fbf1ac;
    padding: 8px;
    font-size: 12px;
    color: #444;
    padding-top: 0px;
}

.evibox__inr .actions .icon {
    border-radius: 50%;
    /* background-color: #666; */
    display: inline-block;
    float: right;
    height: 14px;
    width: 14px;
    margin: 0 1px;
}


.evibox__inr .actions .icon {
    width: 20px;
    height: 20px;
}

.evibox__inr .actions .icon img {
    height: auto;
    width: auto;
}

i.icon.icon-circle.cloud {
    width: 16px;
    margin: 0 4px;
}

.evibox__inr .actions .icon.blue {
    background-color: #39c;
}

.evibox__inr .actions .icon.green {
    background-color: #add458; 
}


.evibox .btn-xs.btn-success {
    float: right;
    font-size: 10px;
    padding: 0px 2px !important;
    margin-top: 2px;
    opacity: 0;
}

.evibox:hover .btn-xs.btn-success {
    opacity: 1;
}

.evibox__inr {
    margin-bottom: 10px;
    border-radius: 4px;
    overflow: hidden;
    height: 140px;
    background: #f7f7f7;
}

.evibox-area.bg-greeny {
    background-color:var(--color-light);
    padding: 15px 10px 5px;
}

.evibox:hover .evibox__inr {
    transform: scale(1.05);
    box-shadow: 0px 4px 0px 0px #ccc;
    cursor: pointer;
}

#range .input-group-addon {
    background-color: #fff;
    color: #000;
    padding-right: 8px;
}

footer.footer {
    padding: 10px;
    text-align: center;
    border-top: 1px solid #eee;
}

.tabs-vertical-env .tab-content {
    width: 100%;
    background-color: #fff;
    padding: 0;
}
 

.form-group>.form-control,
.form-group>.form-control:hover,
.form-group>.form-control:focus {
    border: 1px solid #ccc;
}


.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #eee !important;
}


.mr-15{
    margin-right:-15px;
}

/* original idea http://www.bootply.com/phf8mnMtpe */
.treeviewized li>span input {margin-top: 0;}



.treeviewized li>span {
    background-color: #fff;
    padding: 8px 8px;
    border: 1px solid #ddd;
    margin: -1px 0;
    display: block;
    font-size: 16px;
}

.treeviewized {
    min-height:20px;
    padding:0px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    position: relative;
}
.treeviewized ul {
    padding-left: 0;
}

.treeviewized li {
    list-style-type:none;
    margin:0; 
    position:relative
}


.tree000 li::before, .tree li::after {
    content:'';
    left:-35px;
    position:absolute;
    right:auto
}

.tree000 li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}

.tree000 li::after {
    border-top:1px solid #999;
    height:20px;
    top:20px;
    width:35px
}

.treeviewized li.parent_li>span {
    cursor:pointer
}
.tree000>ul>li::before, .tree000>ul>li::after {
    border:0
}
.tree000 li:last-child::before {
    height:20px
}
 

.treeviewized li.parent_li>span+ul {
    display: none;
}

.treeviewized li.parent_li.is-open>ul,
.treeviewized li.parent_li>span.is-open+ul {
    display: block; 
    overflow: auto;
}

.tree00 li::after {
    display: none;
}

.treeviewized li.parent_li>span.is-open+ul>li {
    border-bottom: 1px solid #ddd;
}
*/



.page-height-short footer {
    position: static !important;
}

body table>thead>tr>th,
body table>tbody>tr>td {
    font-size: 12px;
    font-weight: 500;
}
















/**tree override**/
.treeviewized .level0>li>span input {
    display: none;
}

ul#tree1 {
    min-height: 380px;
    max-height: 440px;
}

.treeviewized .has-child.parent_li.is-open>ul {
    position: absolute;
    background-color: #eee;
    z-index: 8;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 38px;
    max-height: 360px;
}

.treeviewized .has-child.parent_li.is-open {
    position: static;
}

.treeviewized .has-child.parent_li.is-open>span .icon.color-invert {
    filter: invert(0);
}
.treeviewized .has-child.parent_li.is-open>span>span {
    position: absolute;
    top: -40px;
    right: 6px;
    z-index: 99;
    background-color:var(--color-dark);
    width: auto;
    height: 33px;
    text-align: center;
    border-radius: 0;
    box-shadow: 0 0 0px 1px #eee;
    line-height: 34px;
    padding-left: 1em;
    padding-right: 1em;
}

.treeviewized .has-child.parent_li.is-open>span>span:before {
    font-weight: 700;
    content: "< BACK";
    color: #d00;
    font-size: 10px;
    position: relative;
    top: -1px;
    left: 0px;
    color:#fff;
}

.treeviewized .has-child.parent_li.is-open>span>span input {
    display: none;
}

.treeviewized li label {
    margin-bottom: 0;
}


.treeviewized .has-child.parent_li.is-open~li {
    display: none;
}

/*
.evidences-page.edit-page form>.form-group {
    padding-left: 15px;
    padding-right: 15px;
} */

body .container {
    width: 100%;
}

.dtline h4 {
    display: inline;
    margin-right: 10px;
}

.list-icon-arrow ul li:before {
    content: ">>";
    color: #999;
    font-size: 16px;
    font-weight: 600;
    margin-right: 8px;
}

.list-icon-arrow ul {
    list-style-type: none;
}

.dtline {
    margin-bottom: 15px;
    float: left;
    width: 100%;
}

.inr-box{
    background-color: #f5f5f5;
}

.inr-box {
    float: left;
    padding: 15px;
    border: 1px solid #ddd;
    width:100%;
}

.dtline .evibox__inr {
    margin-top: 4px;
    background-color: #ccc;
    margin-bottom: 0;
}


.fnc__checkbox.sm {
    height: 18px;
    width: 18px;
    margin-bottom: 0;
    float: left;
    margin-right: 5px;
    font-size: 0.7em;
}

.fnc__checkbox.sm input {
    margin-top: 0px;
}

.fnc__checkbox.sm+label {
    margin-bottom: 0;
}

body.page-height-short footer {
    position: static;
}

body .content-page > .content {
    min-height: 76vh;
}

#sidebar-menu > ul > li > a {
    border: 1px solid #eee;
    margin: -1px;
}


#sidebar-menu > ul > li > a:hover,
#sidebar-menu > ul > li > a.active {
    position: relative;
    background-color: var(--color-darker) !important;
    color: #fff !important;
}

#sidebar-menu > ul > li > a:before {
    content: " ";
    background-color:var(--color-dark) !important;
    position: absolute;
    top: 0;
    left:0px;
    height:100%;
    width:0px;
}
#sidebar-menu > ul > li > a:hover:before,
#sidebar-menu > ul > li > a.active:before {
    content: " ";
    background-color: var(--color-dark) !important;
    position: absolute;
    top: 0;
    left:0px;
    height:100%;
    width:4px;
    z-index:-1;
}

#sidebar-menu > ul > li > a i{ color: var(--color-dark) !important;  }
#sidebar-menu > ul > li > a:hover i,
#sidebar-menu > ul > li > a.active i{ color: var(--color-dark) !important;  }

#sidebar-menu ul ul a {
    border: 1px solid #eee;
    margin: -1px;
}

.daterangepicker td, .daterangepicker th{ color: inherit; }
.daterangepicker .calendar th{ border-bottom: 1px solid #ddd !important; }
.daterangepicker .calendar td { border: 1px solid #ddd !important; }




























/*

div#frameworks-body {
    overflow: auto;
    max-height: 426px;
}

*/

body .alert-sticky ul {
    padding-left: 0; list-style-type:none;
}

body .alert-sticky ul i.fa {
    display: block;
    font-size: 28px;
    margin: 0 auto 10px;
    width: 60px;
    float: none;
    border:1px solid #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 60px;
}

body .alert-sticky {
    padding: 20px;
}

body .alert-sticky .close {
    right: -12px;
    opacity: 1;
    top: -15px;
}



input#reportrange {
    height: 32px;
}



div#load-filters:after {
    content: " ";
    clear: both;
    display: block;
}


body .content-page > .content {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 96%;
    margin-left: 2%;
}

.content-page {
    background-color: #f7f7f7;
}


div#filters.collapse {
    overflow: auto;
}



.btns-px-11 .btn {
    padding-left: 11px;
    padding-right: 11px;
}

body span.input-group-addon.lbl {
    background-color: transparent;
    color: #666;
}

body .panel-group .panel .panel-heading a[data-toggle=collapse]:before {
    font-family: Poppins;
    font-size: 11px;
    width: auto;
    border-radius: 0;
    padding: 2px 8px;
    height: auto;
    border-radius: 15px;
    margin-top: -2px;
    min-width: 50px;
}

.panel-group .panel .panel-heading a[data-toggle=collapse].collapsed:before {
    content: "Show"; 
}

.panel-group .panel .panel-heading a[data-toggle=collapse]:before {
    content: "Hide"; 
}


.form-control--ui {
    height: 38px;
 
    line-height: 24px;
}

div#filtersTable {
    padding-top: 15px;
}


body .nodata .panel {
    margin-bottom: 4px;
}

.topbar .navbar-link>li>a {
    height: 45px;
    line-height: 45px;
    color:#666 !important;
}

body .navbar-nav>li>.dropdown-menu {
    padding: 0;
    border-radius: 0;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    background-color: var(--color-dark);
}


.checkylbl.--txt::after {
    content: "NO";
    font-size: 0.7em;
    width: 34%;
    text-align:right;
}

.is-active .checkylbl.--txt::after {
    content: "YES";
    font-size: 0.7em;
    text-align:left;
}

.br0 { border-radius: 0; }
.checkylbl.br0 label { border-radius: 2px; }

.table td.has-btn[width="40"] {
    width: 40px;
    text-align: center;
}




body .panel-select-framework .panel-collapse {
    float: left;
    background-color: #fff;
    width: 100%;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 15px;
    max-height: 40vh;
    overflow-y: auto;
}

body .panel-select-framework .panel-heading {
    float: left;
    width: 100%; 
    border-radius: 0;
}

.panel-select-framework .panel {
    float: left;
    width: 100%;
}


body .panel-select-framework .panel-collapse li input {
    margin-top: 0;
    margin-right: 8px;
}

body .panel-select-framework .panel-collapse li {
    font-size: 1.1em;
    font-weight: 400;
    padding: 8px;
    border-left: 4px solid #ddd;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
}



body.modal-open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}


select {
    -webkit-appearance: textarea;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none;
}



.evibox-upload .evibox__inr img {
    width: 100%;
    position: relative;
}

.evibox-upload .evibox__inr .form-upload input {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    z-index: 277;
}


/*
.evibox-upload .evibox__inr .btn {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 77;
}
*/

.evibox-upload .evibox__inr .no-image {
    height: 140px;
    margin-top: 0;
    text-align: center;
    padding-top: 60px;
}

/*

.form-upload__icon {
    position: absolute;
    background-color: var(--color-darker);
    text-align: center;
    z-index: 88;
    top: 50px;
    width: 60%;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
    left: 20%;
}

.evibox-upload.no-img .form-upload__icon {
    opacity: 0;
}

.evibox-upload:hover .form-upload__icon {
    opacity: 1;
    cursor: pointer;
}

.evibox-upload .form-upload__icon {
    opacity: 0;
}
*/

.btn-uploader {
    position: relative;
 overflow: hidden;
}

.btn-uploader input {
    position: absolute;
    top: 0;
    opacity: 0;
    left: 0;
    right: 0;
}

.create-page select#tags+.select2-container, 
.edit-page select#tags+.select2-container {
    width: 100% !important;
    border:1px solid #ccc;
    margin-top:2px;
}

.upload-preview__img {
    position: absolute;
    top: 0;
    z-index: 0;
    background-color: #fff;
    display: none;
}

.evibox__inr.pre-upload .upload-preview__img{
  display:block;
}

.evibox-upload__btns {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.evibox__inr.pre-upload .evibox-upload__btns .btn-delete,
.evibox__inr.pre-upload .btn-resetupload {display: inline-block;}

.evibox-upload__btns .btn-delete,
.btn-resetupload {
    display: none;
}

.evibox-upload:not(.no-img) .evibox-upload__btns .btn-resetupload~.btn {
    display: inline-block;
}


.evibox-upload:not(.no-img) .evibox-upload__btns .btn-uploader {
    display: none !important;
}

.btn-view {
    display: none;
}

body .evibox__inr.pre-upload .btn.btn-view {
    display: none !important;
}

.evibox__inr.pre-upload .btn-uploader,
.evibox__inr.pre-upload .btn-delete {
    display: none !important;
}


.evibox__img {
    float: left;
    width: 100%;
    height: 100%;
}

.evibox__img img {
    height: 100%;
    min-width: 100%;
    max-width: unset;
}

.evibox-upload .evibox__inr img {
    height: auto;
    min-height: 100%;
    width: auto;
    min-width: 100%;
}



.evibox-area[data-view="list"] .evibox {
    width: 100%;
}

.evibox-area[data-view="list"] .evibox__cont {
    position: static;
    width: 100%;
    float: right;
}

.evibox-area[data-view="list"] .evibox__img {
    float: left;
    width: 100%;
}

.evibox-area[data-view="list"] .evibox__inr {
    height: auto;
}

.evibox-area[data-view="list"] .evibox__cont big a {
    width: auto;
}

.evibox-area[data-view="list"] .evibox__inr .no-image {
    margin-top: 0;
    height: 100%;
    padding: 15px;
    float: left;
    width: 100%;
}


.evibox-area[data-view="list"] .evibox .btn-xs.btn-success {
    opacity: 1;
    width: 42px;
    text-align: center;
}


.evibox-area[data-view="list"] .evibox:hover .evibox__inr{
	transform: scale(1);
}


.evibox-area[data-view="list"] .evibox__cont {
    height: 100%;
}

.evibox-area[data-view="list"] .evibox__cont .yellowbar {
    margin-bottom: 4px;
    text-align: left;
}
.evibox-area[data-view="list"] .evibox__inr .actions {
    width: auto;
}

.evibox-area[data-view="list"] .evibox__inr .actions .icon {
    width: 28px;
    height: 28px;
}

.evibox-area[data-view="list"] .evibox .btn-xs.btn-success {
    float: right;
    clear: both;
    margin-top: 0px;
    font-size: 15px;
    width: auto;
    padding: 0 5px !important;
}

.evibox-area[data-view="list"] .actions+big {
    float: left;
    width: 100%;
}

.evibox-area[data-view="list"] .for-listview-only {
    float: left;
    clear: both;
}

.evibox-area[data-view="list"] .yellowbar {
    float: left;
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px 8px;
}

.evibox-area[data-view="list"] time {
    float: left;
    position: absolute;
    padding: 10px;
    border-radius: 4px;
    background-color: #85a51c;
    font-size: 12px;
    padding: inherit;
    padding: 2px 4px;
}


.evibox-area[data-view="grid"] .for-listview-only {
    display: none;
}


.gridlistview__hed {
    float: left;
    width: 100%;
    border-bottom: 1px solid var(--color-dark);
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.gridlistview__actions .btn {
    line-height: 22px;
}



.gridlistview__hed .title h3 {
    position: relative;
    padding-top: 8px;
    font-size: 18px;
}


form#form-filter-evidences {
    padding: 10px 0;
}

.evibox-area[data-view="list"] .evibox__img .__img {
    width: 100%;
    float: left;
    overflow: hidden;
    height: 140px;
}

.evibox-area[data-view="list"] .evibox__inr .no-image {
    width: 16.66666667%;
    margin-top: 15px;
    height: 138px;
    border-left: 10px solid #f7f7f7;
    border-right: 10px solid #f7f7f7;
}


.__imgholder {
    position: relative;
}

.__imgholder img {
    position: static;
}

.__imgholder .__img img:after {
    margin-top: 0;
    height: 100%;
}

[data-view='list'] .__imgholder {
    height: 138px;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: hidden;
}

[data-view='grid'] .__imgholder {
    width: 100%;
    padding: 0;
}

[data-view='grid'] .__imgholder~.__imgholder {
    display: none;
}

.broken-image-checker .__img img:after {
    margin-top: 0px;
    height: 210px;
    padding-top: 20%;
}


.fnc__checkbox+label {
    margin-bottom: 0;
    float: left;
    margin-left: 5px;
}
.fnc__checkbox {
    float: left;
}

.checker-area.is-active .fnc__checkbox:before {
    background-color: var(--color-dark);
}


body .alert-sticky {
    position: fixed;
    min-width: 320px;
    text-align: center;
}

.hidden-checkbox [type="checkbox"] {
    display: none !important;
}


.switch input:checked + .slider:after {
    content: "YES";
    color: #fff;
    line-height: 35px;
    font-size: 12px;
    padding: 5px;
    text-align: center;
    margin-left: 0px;
}

.switch input + .slider:after {
    content: "NO";
    line-height: 35px;
    font-size: 12px;
    padding: 5px;
    margin-left: 30px;
}

label.switch+label {
    line-height: 34px;
    float: left;
    margin-left: 10px;
}

label.switch {
    float: left;
}

.dtline .__imgholder .__img {
    height: 140px;
}

.i32x32 {
    width: 32px;
    height: 32px;
    display: inline-block;
}

.ml-30 {
    margin-left: -30px;
}



.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: var(--color-dark);
}

.evibox__inr .icon-circle {
    border: 2px solid #fff;
}


.daterangepicker.dropdown-menu {
    overflow-y: scroll;
    max-height: 210px;
}

.alert-sticky {
    left: 42%;
    right: auto;
    bottom: 40%;
}

div#range[data-selected='All']:before {
    content: attr(data-selected);
    position: absolute;
    z-index: 8;
    background-color: #fff;
    line-height: 30px;
    padding: 1px 10px;
    width: 88%;
}

div#range {
    position: relative;
}

div#range[data-selected='All'] input {
    position: relative;
    z-index: 8;
    opacity: 0;
}




/*==============Media Queries==============*/
/* 4K large Screens */
@media (min-width : 1921px) and (max-width : 3840px) {
	

}


/* 24" large Screens */
@media only screen and (max-width : 1920px) {	}


/* 22" large Screens */
@media only screen and (max-width : 1680px) {	}


/* 20" large Screens */
@media only screen and (max-width : 1600px) {	}


/* 19" large Screens */
@media only screen and (max-width : 1440px) {	}


/* 13" Notebook Large Devices, Wide Screens */
@media only screen and (max-width : 1280px) {	}


/* Ubuntu, Medium Screens */
@media only screen and (max-width : 1198px) {	}


/* 12" Notebook & iPad landscape  · width: 1024px */
@media only screen and (max-width : 1024px) {	}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {	}


/*Landscape*/
@media only screen and (max-width : 960px) {	}


/* Kindel Fire HD 8.9in (800x1280) Tablets */
@media only screen and (max-width : 812px) {

    div#evidences {
        clear: both;
        float: left;
        width: 100%;
    }
    
    .evibox-area.bg-greeny {
        margin-left: -10px;
        margin-right: -10px;
    }

    .evibox-area.bg-greeny .row {
        margin: 0;
    }

     .selected-values {
        margin: 0;
        background-color: #fbfbfb;
        padding: 4px 8px;
        margin-top: 10px;
        width: 100%;
        font-size: 0.8em;
        text-align: left;
        border: 1px solid #ccc;
        border-radius: 4px;
    }


    [data-view="grid"] .evibox {
        width: 50%;
    }

    [aria-expanded="true"] .selected-values{
        display:none;
    }

    body .page-content-wrapper {
        margin-top: 0;
        clear: both;
    }

    .navbar-nav .open .dropdown-menu .dropdown-header,
    .navbar-nav .open .dropdown-menu>li>a, .dropdown-menu > li > a{
       padding: 6px 20px;
    }

    .navbar-link>li {
        width: 100px;
        float: right;
    }
    
    .navbar-link li>.dropdown-menu{
        top:0;
        opacity: 0;
    }

    .navbar-link li.open .dropdown-menu {
        left: 0;
        position: fixed;
        width: 100%;
        top: 46px;
        opacity: 1;
    }

    

    body .button-menu-mobile {
        margin-left: 0;
    }
    
    
    #wrapper.enlarged .side-menu {
        width: 240px !important;
        margin-left: 0;
    }
    
    #wrapper.enlarged .left.side-menu #sidebar-menu ul > li > a span {
        display: inline-block;
    }
    
    
    #wrapper.enlarged .menu-title {
        display: block;
    }
    
    #wrapper:not(.enlarged) .left.side-menu{
        margin-left: -240px;
    }

    .table-responsive {
        padding: 0 8px !important;
    }

    [data-view='list'] .__imgholder .__img {
        overflow: hidden;
    }
    

    body .page-header-title {
        text-align: left;
    }


    .dtline .evibox {
        width: 33.3333%;
        float: left;
    }


    #wrapper.enlarged .left.side-menu {
        position: fixed !important;
        overflow: scroll;
    }
    
}


/* iPad (All) (768x1024) Portrait Tablets */
@media only screen and (max-width : 768px) {	}

/* Lower then iPad (All) (767x---) */
@media only screen and (max-width : 767px) {	}

/*iPhone 6 Plus landscape · width: 736px */
@media only screen and (max-width : 736px) {

    .col-sm-2_5 {
        width: 100%;
    }


	}

/*iPhone 6 landscape · width: 667px */
@media only screen and (max-width : 667px) {	}


/*iPhone4 and iPhone5 Galaxy S2 and S3  */
@media only screen and (max-width : 640px) {	}


/* Google Nexus 7 603x966 | Samsung Galaxy Tab 600x1024  */
@media only screen and (max-width : 603px) {	}


/* iPhone 5 Landscape · 320x568px */
@media only screen and (max-width : 568px) {	}


/* Kindel Fire HD 8.9in (533x853) Tablets */
@media only screen and (max-width : 533px) {	}


/*iPhone3 Landscape*/
@media only screen and (max-width : 480px) {	}


/* iPhone 6 PLUS (414x736) */
@media only screen and (max-width : 414px) {	

    [data-view="grid"] .evibox {
        padding: 0;
    }
    
    [data-view="grid"] .evibox .evibox__inr {
        border: 1px solid #ccc;
        border-radius: 0;
        width: 96%;
        margin: 2%;
    }

    .dtline .evibox {
        width: 100%;
    }

}


/* iPhone 6 portrait (375x667) */
@media only screen and (max-width : 375px ) {	}


/* Galaxy S5 (360x640) */
@media only screen and (max-width : 360px) {	}


/* iPhone 3/4 Blackberry8300 / LG/ AUSUS / S3 S4 */
@media only screen and (max-width : 320px) {	}


/*Galaxy Y*/
@media only screen and (max-width : 240px) {	}


